<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <h1>Postagens</h1>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <a href="/post/<%= post.id %>"><%= post.titulo %></a>
            </li>
        <% }); %>
    </ul>
</body>
</html>
