/* gerais */
a {
  color: #00B7FF;
}

body {
  background-image: url("/images/The_Boiling_Isles.webp");
  background-position: top;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* ids */
#header{
  height: 100px;
  background-color: black;
  color: white
}

#logo{
  float: left;
  height: 100px;
}

#title{
  font-size: 70px;
}

/* classes */
.card {
  max-width: 250px;
  margin: 10px;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limita a 3 linhas, você pode ajustar */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Adiciona "..." no final se o conteúdo for cortado */
}

.centered{
  display: flex;
  justify-content: center;  /* Alinha horizontalmente */
}

.info{
  width: 20%;
  border: 2px solid white;
}

.bottom-space {
  padding-bottom: 10px;
}

.top-space {
  padding-top: 10px;
}

.all-space {
  padding: 10px;
}